:root {
    --orange: rgb(240, 132, 50);
    --lightgray: rgb(198, 197, 197);
    --lightpurple: rgb(210, 190, 225);
    --lighblue: rgba(92, 154, 183, 0.4);
    --overlayblue: rgba(92, 154, 183, 0.4);
    --font_family: system-ui, -apple-system, "Segoe UI", Roboto,
                   "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    --font_size: 1rem;
    --font_weight: 400;
    --line_height: 1.5;
    --width: 40rem;
    --border-radius: 0.3rem;
}

body {
    background-color: var(--lighblue);
}

.input-line{
    max-width: var(--width);
    margin: 2.5rem auto 1.5rem auto;
    display: flex;
    justify-content: center;
    overflow: visible;
}

.block {
    font-family: var(--font_family);
    font-size: var(--font_size);
    font-weight: var(--font_weight);
    line-height: var(--line_height);
    width: var(--width);
    margin: 1rem auto 1rem auto;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    word-wrap: break-word;
}

.captionblock {
    margin-top: 3rem;
    background-color: var(--orange);
    text-align: center;
}

.inputblock {
    background-color: var(--orange);
    text-align: center;
}

.downloadblock {
    background-color: var(--orange);
    text-align: center;
    display: none;
    margin-bottom: 3rem;
}

.contentsblock {
    background-color: var(--overlayblue);
}

.infoblock {
    background-color: var(--lightgray);
    text-align: center;
    display: none;
}

input[type="file"] {
    display: none;
}

.file-upload {
    border: 1px solid cornsilk;
    display: inline-block;
    padding: 0rem 1rem 0rem 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.file-upload:hover {
    box-shadow: 0 0 0.1rem cornsilk, 0 0 0.4rem cornsilk;
}

.noglow:hover {
    box-shadow: 0 0 0 cornsilk;
    cursor: auto;
}



/*********************************************************************
  ispinner (see below) obtained from the internet, permissive license
**********************************************************************/

.ispinner {
  display: none;

  position: relative;
  width: 20px;
  height: 20px; }
  .ispinner .ispinner-blade {
    position: absolute;
    top: 6.5px;
    left: 8.5px;
    width: 2.5px;
    height: 6.5px;
    background-color: #424242;
    border-radius: 1.25px;
    animation: iSpinnerBlade 1s linear infinite;
    will-change: opacity; }
    .ispinner .ispinner-blade:nth-child(1) {
      transform: rotate(45deg) translateY(-6.5px);
      animation-delay: -1.625s; }
    .ispinner .ispinner-blade:nth-child(2) {
      transform: rotate(90deg) translateY(-6.5px);
      animation-delay: -1.5s; }
    .ispinner .ispinner-blade:nth-child(3) {
      transform: rotate(135deg) translateY(-6.5px);
      animation-delay: -1.375s; }
    .ispinner .ispinner-blade:nth-child(4) {
      transform: rotate(180deg) translateY(-6.5px);
      animation-delay: -1.25s; }
    .ispinner .ispinner-blade:nth-child(5) {
      transform: rotate(225deg) translateY(-6.5px);
      animation-delay: -1.125s; }
    .ispinner .ispinner-blade:nth-child(6) {
      transform: rotate(270deg) translateY(-6.5px);
      animation-delay: -1s; }
    .ispinner .ispinner-blade:nth-child(7) {
      transform: rotate(315deg) translateY(-6.5px);
      animation-delay: -0.875s; }
    .ispinner .ispinner-blade:nth-child(8) {
      transform: rotate(360deg) translateY(-6.5px);
      animation-delay: -0.75s; }
  .ispinner.ispinner-large {
    width: 35px;
    height: 35px; }
    .ispinner.ispinner-large .ispinner-blade {
      top: 11.5px;
      left: 15px;
      width: 5px;
      height: 12px;
      border-radius: 2.5px; }
      .ispinner.ispinner-large .ispinner-blade:nth-child(1) {
        transform: rotate(45deg) translateY(-11.5px); }
      .ispinner.ispinner-large .ispinner-blade:nth-child(2) {
        transform: rotate(90deg) translateY(-11.5px); }
      .ispinner.ispinner-large .ispinner-blade:nth-child(3) {
        transform: rotate(135deg) translateY(-11.5px); }
      .ispinner.ispinner-large .ispinner-blade:nth-child(4) {
        transform: rotate(180deg) translateY(-11.5px); }
      .ispinner.ispinner-large .ispinner-blade:nth-child(5) {
        transform: rotate(225deg) translateY(-11.5px); }
      .ispinner.ispinner-large .ispinner-blade:nth-child(6) {
        transform: rotate(270deg) translateY(-11.5px); }
      .ispinner.ispinner-large .ispinner-blade:nth-child(7) {
        transform: rotate(315deg) translateY(-11.5px); }
      .ispinner.ispinner-large .ispinner-blade:nth-child(8) {
        transform: rotate(360deg) translateY(-11.5px); }

@keyframes iSpinnerBlade {
  0% {
    opacity: 0.85; }
  50% {
    opacity: 0.25; }
  100% {
	  opacity: 0.25; } }
