p {
    color: blue;
}

.cls {
    background-color: rgb(165, 167, 247);
    border-radius: 10px;
    height: 6em;
    width: 12em;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}